.home-item{
    outline: none;
    box-shadow: none;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(241, 241, 233);
}

.home-item-media{
    height: 0;
    padding-top: 150%;
    border-radius: 5px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.home-item-header{
    padding-bottom: 0;
}
