.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*.product-images{*/
/*    padding-right: 30px;*/
/*    width: 160%;*/
/*}*/

.product-images img{
    width: 100%;
}

.product-content p{
    line-height: 2;
}

.product-content h4{
    font-weight: 600;
}

.product-content h3{
    color: dimgrey;
}

.product-select{
    width: 40%;
    margin-right: 5%;
}

.product-select-item{
    background-color: rgba(241, 241, 233, .5);
}

