.navbar-container, .navbar-list{
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
}

.navbar-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbar-list-item{
  flex: 1;
}

.navbar-icon{

}
