.navbar-container, .navbar-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-list-item{
    width: inherit;
}

.navbar-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(41,41,41,.68);
}

.navbar-item-text{
    font-weight: 700;
}

.app-bar{
   margin-bottom: 40px;
}
