.cart-image {
    max-width: 100px;
    margin-right: 20px;
}

.cart-product-cell{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-remove-button{
    padding: 0;
    width: 24px;
    height: 24px;
}

.cart-product-price p:nth-child(1){
    margin-bottom: 5px;
}

.cart-product-price p:nth-child(2){
    margin-top: 5px;
    color: dimgray;
}

@media (max-width: 600px){
    .cart-image {
        margin-top: 10px;
        margin-right: 0;
        max-width: 80px;
    }
    .cart-product-cell{
        flex-direction: column;
        justify-content: center;
    }
}
